body{
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);}

.col-md-6{
    margin-top: 150px !important;
    background-image: linear-gradient(to top, #0ba360 0%, #3cba92 100%);
}
input[type=button]{
    width: 100%;
    background-color: rgba(51, 153, 136, 0.986);
    color: white;
    /* font-weight: bolder; */
    /* border: 1px solid black; */
border-radius: 30px;
}

input[type=text]{

width: 100%;
}
h1{
    font-weight: bolder !important;
    margin: 50px;
    color: aqua;
}